body{
    background-color: #1b1b38f7;
    overflow-x: hidden;
}

.footer-info{
    padding: 15px;
    color: #eadbdbae;
    text-align: center;
}

/* .dj-set{
    height: 100%;
    width: 50%;
    background-position: center center;
    background-size: cover;
} */

.dj-banner{
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
}

.banner{
    position: relative;
}

.center-text{
    font-family: "Audiowide", sans-serif;
    font-size: 60pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eadbdbae;
}

.socialmedia{
    font-size: 20pt;
    position: absolute;
    top: 78%;
    margin: 7px;
}

#socialmedia{
    text-decoration: none;
    color: #eadbdbae;

    &:hover{
        transform:scale(1.5);
        color: white;
    }

}


/* .contacts{
    font-size: 20pt;
    position: absolute;
    top: 78%;
    color: white;
    display: flex;
    margin: 50px;
    justify-content: space-between;
} */

.nav{
    column-count: 6;
    column-gap: 40px;
    color: #eadbdbae;
}

.navbar{
    text-decoration: none;
    color: #eadbdbae;
    margin: 5px;

    &:hover {
        transform: scale(1.1);
        color: white;
    }
}


.image-text{
    font-size: 25pt;
    color: #eadbdb;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Rajdhani', sans-serif;
}



